.header {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.header-logo {
    display: block;
    margin: auto 20px auto 30px;
    }

.header-form {
    display: block;
    width: 50%;
    height: 70%;
    margin: auto 0;
}

.header-input {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto 0;
    padding-left: 30px;
    border-radius: 5px;
    border-color: white;
}

.header-nav {
    display: flex;
    list-style: none;
}

.header-nav li {
    display: block;
    height: auto;
    margin: auto 0 auto 20px;
}

.header-nav li:last-child {
    margin-right: 20px;
}

.header-nav li a {
    text-decoration: none;
    vertical-align: middle;
    color: white;
}

.header-nav li:last-child a {
    color: black;
    background-color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 4px;
}

.btn-logout {
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 850px) {
    .header-logo {
        margin: auto 0 auto 15px;
    }

    .header-form {
        width: 25%;
    }

    .header-input {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }

    .header-nav li {
        display: block;
        height: auto;
        margin: auto 0 auto 10px;
    }

    .header-nav li:last-child {
        margin-right: 10px;
    }

    .header-nav li a {
        font-size: 12px;
    }
}
