.profile {
    display: flex;
    align-items: center;
    margin: 50px;
}

.profile-picture {
    display: block;
    width: 120px;
    height: 120px;
    object-fit: cover;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5% 0 15%;
}

.profile-name {
    font-size: 30px;
    font-weight: bold;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.rating-false,
.rating-true {
    display: block;
    font-size: 20px;
    padding: 0 10px;
}

.rating-false i {
    color: gray;
}

.rating-true {
    color: #FFF048;
}

.profile-link {
    display: block;
    border: 2px solid #FF5555;
    border-radius: 5px;
    color: #FF5555;
    text-decoration: none;
    font-weight: bold;
    margin-left: 30%;
    padding: 5px 20px;
}

.products-nav {
    display: flex;
    list-style: none;
    border-bottom: 2px solid #5F5F5F;
}

.products-nav li {
    display: block;
    margin: 40px 0 0 100px;
}

.products-nav li:first-child {
    display: block;
    margin-left: 10%;
}

.products-nav li a {
    text-decoration: none;
    vertical-align: middle;
    font-size: 24px;
}

.products-nav li:last-child {
    display: flex;
}

.transaction-num {
    display: block;
    background-color: #FF5555;
    color: white;
    border-radius: 10px;
    margin: 5px 0 5px 5px;
    width: 25px;
    line-height: 20px;
    text-align: center;
}

.products {
    display: flex;
    margin: 5%;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin: 0 30px 30px 30px;
    width: 290px;
    height: 320px;
}

.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.product-img {
    display: block;
    max-width: 100%;
    background-color: #5F5F5F;
}

.overlay-text {
    position: absolute;
    display: block;
    width: 20px;
    line-height: 20px;
    text-align: center;
    top: 0;
    left: 0;
    transform: translate(0, -50%);
    color: white;
    background-color: #FF5555;
    border-radius: 50%;
}

.button-label {
    font-size: 25px;
}

.active a {
    color: #FF5555;
}

@media (min-width: 768px) and (max-width: 850px) {
    .profile-picture {
        margin: 0 5% 0 10%;
    }

    .profile-link {
        margin-left: 10%;
    }
}

